<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-md-4"></div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="glyphicon glyphicon-lock"></span>
					<strong>Indentificação</strong>
				</div><!-- panel-title -->
			</div><!--panel-heading -->

			<div class="panel-body">
				<form 
				action="controller/login.php"
				method="POST">
					<input 
					class="form-control input-lg" 
					type="email"
					placeholder="Email"
					name="email">

					<input 
					class="form-control input-lg" 
					type="password"
					placeholder="Senha"
					name="pass">

					<br>
					<button class="btn btn-primary btn-block btn-lg">
					<span class="glyphicon glyphicon-ok-sign"></span>
						Entrar
					</button>
				</form>
			</div>
		</div><!-- panel -->

	</div><!-- col-md-4 -->

</div><!-- row -->
